<!DOCTYPE html>
<html>
<head>
  <title>Add Event</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>Add Event</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/events">Events</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <main>
    <h1>Add Event</h1>
    <form id="add-event-form" action="/events" method="POST">
        <label for="name">Event Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="organizer">Organizer:</label>
        <input type="text" id="organizer" name="organizer" required>
        <br>

        <label for="description">Event Description:</label>
        <textarea id="description" name="description" required></textarea>
        <br>

        <input type="submit" value="Add Event">
    </form>
  </main>
</body>
</html>
