<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>Error</h1>
  </header>
  <main>
    <p>An error occurred. Please try again later.</p>
  </main>
</body>
</html>
